.button {
  padding: 6px 25px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.11em;
  color: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

.button.green {
  background: #23be63;
  transition: background-color 0.5s linear;
}
.button.green:disabled {
  background: #77b48a;
}
.button.blue {
  background: #2D9CDB;
  transition: background-color 0.5s linear;
}
.button.blue:disabled {
  background: #8daacc;
}
.button.white {
  padding: 8px 15px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #333333;
  background: #FFFFFF;
  box-shadow: none;
}

.button.none {
  padding: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
  background: none;
  box-shadow: none;
  transition: color 0.3s;
}

.button.black {
  padding: 15px 65px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: rgba(0, 0, 0, 0.8);
  font-size: 25px;
  line-height: 30px;
  color: #F2F2F2;
}

.button.none:after,
.button.black:after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: transparent;
  transition: all 0.3s;
}

.button.none:hover:after {
  width: 100%;
  background: #8FFF00;
}

.button.none:hover:after,
.button.black:hover:after {
  width: 100%;
  background: #8FFF00;
}

