.login__background {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
.login {
  display: flex;
  flex: 1 1 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
}

.login__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #FFFFFF;
}

.login__title {
  font-size: 70px;
  line-height: 85px;
  font-weight: 300;
  letter-spacing: 0.11em;
  margin-bottom: 10px;
}

.login__subtitle {
  font-size: 40px;
  line-height: 49px;
  font-weight: 300;
  letter-spacing: 0.11em;
  margin-bottom: 45px;
}
@media (max-width: 767px) {
  .login__title {
    font-size: 60px;
    line-height: 75px;
  }
  .login__subtitle {
    font-size: 30px;
    margin-bottom: 25px;
  }
}
@media (max-width: 480px) {
  .login__title {
    font-size: 50px;
    line-height: 55px;
  }
  .login__subtitle {
    font-size: 25px;
    margin-bottom: 15px;
  }
}
