<div class="account__info">
  <div class="account__user">
    <div class="account__name">{{nickname}}</div>
    <ng-container *ngIf="user?.uid! == this.userIdFromParams">
      <div class="account__img" (click)="openEditUserDialog(this.firestoreID)">
        <img [src]="icons.edit">
      </div>
    </ng-container>
  </div>
  <div class="account__desc">{{status}}</div>
  <div class="account__follow">
    <div class="followers" (click)="openFollowersDialog()">{{followers}} Followers</div>
    <div class="following" (click)="openFollowingDialog()">{{following}} Following</div>
  </div>
</div>
