<div class="container">
  <div class="content__wrapper">
    <app-post class="content__column"
              [postImg]="posts[0].photo"
              [postTitle]="posts[0].title"
              [postLikes]="posts[0].likes"
              [postComments]="posts[0].comments">
    </app-post>
    <app-post class="content__column"
              [postImg]="posts[1].photo"
              [postTitle]="posts[1].title"
              [postLikes]="posts[1].likes"
              [postComments]="posts[1].comments">
    </app-post>
    <app-post class="content__column"
              [postImg]="posts[2].photo"
              [postTitle]="posts[2].title"
              [postLikes]="posts[2].likes"
              [postComments]="posts[2].comments">
    </app-post>
    <app-post class="content__column"
              [postImg]="posts[3].photo"
              [postTitle]="posts[3].title"
              [postLikes]="posts[3].likes"
              [postComments]="posts[3].comments">
    </app-post>
    <app-post class="content__column"
              [postImg]="posts[4].photo"
              [postTitle]="posts[4].title"
              [postLikes]="posts[4].likes"
              [postComments]="posts[4].comments">
    </app-post>
    <app-post class="content__column"
              [postImg]="posts[5].photo"
              [postTitle]="posts[5].title"
              [postLikes]="posts[5].likes"
              [postComments]="posts[5].comments">
    </app-post>
    <app-post class="content__column"
              [postImg]="posts[4].photo"
              [postTitle]="posts[4].title"
              [postLikes]="posts[4].likes"
              [postComments]="posts[4].comments">
    </app-post>
    <app-post class="content__column"
              [postImg]="posts[5].photo"
              [postTitle]="posts[5].title"
              [postLikes]="posts[5].likes"
              [postComments]="posts[5].comments">
    </app-post>
  </div>
</div>

