<!--<button #buttonElement (click)="togglePopup()" >Open</button>-->
<div class="header" [ngClass]="!user ? 'login' : 'other'">
  <div class="container">
    <div class="header__inner" [ngClass]="!user ? 'login' : 'other'">
      <app-head-logo [imagePath]=icons.photoLogo></app-head-logo>
      <app-nav *ngIf="user"></app-nav>
      <div class="header__search" *ngIf="user">
        <app-search [imagePath]="icons.search"></app-search>
      </div>
      <div class="user" *ngIf="user">
        <app-user-logo [username]='this.user.displayName!.slice(0,1)'
                       [avatar]="this.user1.logo"
                       (click)="togglePopup()" #appUser></app-user-logo>
        <app-popup [username]="this.user.displayName!.split(' ')[0]"
                   *ngIf="toggle"
                   (outsideClick)="togglePopup()" appOutsideClick></app-popup>
      </div>
      <div class="header__login" *ngIf="!user">
        <app-button [label]="'Log in'"
                    [bgColor]="'none'"
                    *ngIf="!user"
                    (click)="login()">
        </app-button>
        <app-button [label]="'Sing up'"
                    [bgColor]="'white'"
                    *ngIf="!user">
        </app-button>
      </div>
    </div>
  </div>
</div>
