.header.other {
  background: rgba(0, 0, 0, 0.88);
}

.header.login {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__inner.login {
  justify-content: space-between;
}

.header__search {
  margin-right: auto;
  position: relative;
  margin-left: 300px;
}

.small__search {
  display: none;
  position: fixed;
  right: 75px;
  top: 17px;
  cursor: pointer;
}

.small__search img {
  width: 25px;
  height: 25px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(95deg) brightness(105%) contrast(102%);
}

.search {
  display: none;
  position: fixed;
  left: 200px;
  top: 15px;
}

.active {
  display: block;
}

.hide {
  display: none;
}

.user {
  position: relative;
  margin: 5px 0 5px 20px;
}
.header__login {
  display: flex;
  align-items: center;
}

@media (max-width: 1200px) {
  .header__search {
    margin-left: 115px;
    margin-right: 20px;
  }
}

@media (max-width: 992px) {
  .header__search {
    margin-left: 50px;
  }
}

@media (max-width: 768px) {
  .header__search {
    display: none;
  }

  .small__search {
    display: block;
  }

  .user {
    margin-left: 10px;
  }
}

@media (max-width: 480px) {
  .search {
    left: 95px;
  }
}
