<footer>
  <div class="container">
    <div class="footer__row">
      <ul class="footer__links">
        <li [routerLink]="routes.about">About</li>
        <li [routerLink]="routes.terms">Terms</li>
        <li [routerLink]="routes.privacy">Privacy</li>
      </ul>
      <div class="footer__icons">
        <a class="footer__link" [href]="routeLinks.facebook" target="_blank">
          <img [src]="icons.facebook">
        </a>
        <a class="footer__link" [href]="routeLinks.twitter" target="_blank">
          <img [src]="icons.twitter">
        </a>
        <a class="footer__link" [href]="routeLinks.instagram" target="_blank">
          <img [src]="icons.inst">
        </a>
      </div>
    </div>
  </div>
</footer>
