<div class="content__card">
  <img [src]="postImg" alt="">
  <div class="content__btns">
    <button mat-icon-button [matMenuTriggerFor]="beforeMenu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <button mat-menu-item (click)="openDialog(postID)">Edit</button>
      <button mat-menu-item (click)="delete(postID)">Delete</button>
    </mat-menu>
  </div>
  <app-post-hover
    [postTitle]="postTitle"
    [postLikes]="postLikes"
    [postComments]="postComments"
    [postID]="postID"
  ></app-post-hover>
</div>
