<div class="content__card">
  <img [src]="postImg" alt="" (click)="openExtendedPostDialog()">
  <div class="content__buttons" *ngIf="this.user?.uid === this.userID">
    <button mat-icon-button [matMenuTriggerFor]="beforeMenu" aria-label="Example icon-button with a menu">
      <mat-icon class="white__icon">more_vert</mat-icon>
    </button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <button mat-menu-item (click)="openEditPopupDialog(postID)">Edit</button>
      <button mat-menu-item (click)="delete(postID)">Delete</button>
    </mat-menu>
  </div>
  <app-post-hover
    [postTitle]="postTitle"
    [postID]="postID"
  ></app-post-hover>
</div>
