.content__card {
  height: 280px;
  position: relative;
}
.content__card img {
  cursor: pointer;
}
.content__buttons {
  position: absolute;
  top: 0;
  right: 0;
}
.content__card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mat-menu-panel {
  min-width: 90px !important;
}
.mat-menu-item {
  line-height: 24px !important;
  height: 24px !important;
  font-family: 'Montserrat', sans-serif !important;
}
.mat-icon-button {
  width: 30px !important;
  height: 30px !important;
  line-height: 30px !important;
}
.mat-icon {
  color: #ffffff !important;
}
