.notfound {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.notfound__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.notfound__title {
  display: flex;
  justify-content: center;
  font-size: 100px;
}
.notfound__subtitle {
  font-size: 50px;
  margin-bottom: 20px;
}
