.account__page {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  flex: 1 1 auto;
}
.content__scroll {
  display: flex;
  flex: 1 1 auto;
}
.scroll__viewport {
  background: #E5E5E5;
  flex: 1 1 auto;
}
.blocked {
  flex: 1 1 auto;
  display: flex;
  min-height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
