<div class="post__icons">
  <div class="post__icon {{size}}">
    <div class="post__img {{size}}" (click)="updateLikes(postID)" [class.like]="changeLike">
      <img [src]="icons.like" alt="">
    </div>
    <div class="post__text {{size}} likes" (click)="openLikesDialog()">{{likes}}</div>
  </div>
  <div class="post__icon {{size}}">
    <div class="post__img {{size}} comment">
      <img [src]="icons.comment" alt="">
    </div>
    <div class="post__text {{size}}">{{comments}}</div>
  </div>
  <div class="post__icon {{size}}">
    <div class="post__img {{size}}" (click)="addBookmark(postID)" [class.bookmark]="changeBookmark">
      <img [src]="icons.bookmark" alt="">
    </div>
  </div>
  <ng-container *ngIf="isShare">
    <div class="post__icon {{size}}">
      <div class="post__img {{size}} share" (click)="copyShareLink()">
        <img [src]="icons.send" alt="">
      </div>
    </div>
  </ng-container>
</div>

