<div class="post__icons">
  <div class="post__icon">
    <div class="post__img" (click)="updateLikes(postID)" [class.active]="addColor">
      <img [src]="icons.like" alt="" >
    </div>
    <div class="post__text">{{likes}}</div>
  </div>
  <div class="post__icon">
    <div class="post__img">
      <img [src]="icons.comment" alt="">
    </div>
    <div class="post__text">{{comments}}</div>
  </div>
  <div class="post__icon">
    <div class="post__img">
      <img [src]="icons.bookmark" alt="">
    </div>
  </div>
</div>

