<div mat-dialog-content>
  <div class="modal__content">
    <div class="modal__title">
      <div class="modal__text">Add new photo</div>
      <img [src]="icons.close" alt="" mat-dialog-close>
    </div>
    <div class="modal__choose">Please, choose the photo</div>
    <form [formGroup]="addPostForm" class="choose__form">
      <label class="choose__label" for="choose">Choose</label>
      <input type="file" id="choose" (change)="onFileSelected($event)" tabindex="1" [formControlName]="formControls.img">
      <div class="modal_err" *ngIf="this.isTypeFile">Please, choose JPEG/PNG</div>
      <progress class="choose__progress" max="100" [value]="progress" *ngIf="isImage"></progress>
      <div class="choose__img" *ngIf="this.progress === '100'">
        <img [src]="img" alt="choose your pic">
        <div class="choose__close">
          <img [src]="icons.delete" alt="" (click)="deleteUrl()">
        </div>
      </div>
      <label for="title" class="modal__choose">Please, add the description</label>
      <input id="title" [formControlName]="formControls.title" type="text" class="choose__input" tabindex="2"  placeholder="Write the title...">
      <div class="modal_err" *ngIf="isControlValid(formControls.title)">Max length is 25 symbols</div>
      <textarea [formControlName]="formControls.description" name="description" class="choose__input big"
                placeholder="Write the description..." tabindex="3"></textarea>
      <div class="modal_err" *ngIf="isControlValid(formControls.description)">Max length is 200 symbols</div>
      <app-button [label]="'Publish'"
                  [bgColor]="'blue'"
                  [cond]="addPostForm.invalid"
                  (click)="submitFrom()"
                  mat-dialog-close
                  class="form__btn">
      </app-button>
    </form>
  </div>
</div>


