
.mat-dialog-content {
  display: flex;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.modal__bg {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__content {
  /*background-color: #FFFFFF;*/
  /*border-radius: 10px;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.modal__title {
  display: flex;
  width: 100%;
  position: relative;
}

.modal__text {
  text-align: center;
  width: 100%;
  margin-top: 8px;
  padding-bottom: 8px;
  font-size: 20px;
  color: #4F4F4F;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid #828282;
  padding-left: 10px;
  padding-right-right: 10px;
}

.modal__title img {
  width: 15px;
  height: 15px;
  cursor: pointer;
  position: absolute;
  top: 13px;
  right: 8px;
  filter: brightness(0) saturate(100%) invert(57%) sepia(6%) saturate(13%) hue-rotate(336deg) brightness(89%) contrast(89%);
}

.modal__choose {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #4F4F4F;
  margin: 10px 0;
}

.choose__form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.choose__label {
  display: inline-block;
  padding: 6px 25px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.11em;
  color: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.2);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #27AE60;
}

.choose__label.blue {
  background: #2D9CDB;
}

input[type='file'],
input[type='submit'] {
  display: none;
}

.choose__img {
  margin-top: 20px;
  width: 220px;
  height: 120px;
  position: relative;
}

.choose__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.choose__close {
  position: absolute;
  top: -7px;
  right: 1px;
  width: 7px;
  height: 7px;
  cursor: pointer;
}

.choose__input {
  width: 100%;
  padding: 7px 10px;
  border: none;
  background: #E0E0E0;
  font-size: 15px;
  line-height: 18px;
  color: #828282;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 10px;
}

.choose__input.big {
  height: 150px;
  /*margin-bottom: 20px;*/
}

.choose__input:focus {
  outline: none;
}

