<ng-container *ngIf="firePosts | async as posts">
  <ng-container *ngIf="posts.length > 0; else message">
    <cdk-virtual-scroll-viewport appendOnly itemSize="50" class="scroll__viewport">
      <div class="container">
        <div class="feed__wrapper">
          <ng-container *ngFor="let post of posts; trackBy: trackFeedPosts">
            <app-post class="feed__column"
                      [postImg]="post.photo"
                      [postDesc]="post.description"
                      [postID]="post.id"
                      [postTitle]="post.title"
                      [postDate]="post.sortID"
                      [userIdFromParams]="this.routedID"
                      [postCreator]="post.createdBy"></app-post>
          </ng-container>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
  </ng-container>
  <ng-template #message>
    <div class="container">
      <div class="empty__post">
        <div class="empty__title">There are no posts yet!</div>
        <div class="empty__img">
          <img [src]="icons.picture" alt="">
        </div>
      </div>
    </div>
  </ng-template>
</ng-container>
