.filter {
  height: 35px;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.filter__link {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 20px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #828282;
}
.filter__link svg {
  width: 24px;
  height: 24px;
  fill: #828282;
}
.filter__text {
  margin-right: 7px;
}

