.filter {
  display: flex;
  align-items: center;
}

.filter__link {
  margin-left: 20px;
  font-size: 14px;
  cursor: pointer;
  color: #000000;
  text-decoration: none;
}
.filter__link:after {
  margin-top: -2px;
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: transparent;
  transition: all 0.3s;
}
.filter__link:hover:after {
  width: 100%;
  background: #ff9100;
}

.mat-form-field {
  font-family: 'Montserrat', sans-serif !important;
}

.mat-option {
  height: 25px !important;
  line-height: 25px !important;
  font-family: 'Montserrat', sans-serif !important;
}

.mat-select {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 14px !important;
}

.mat-form-field-infix {
  width: 100% !important;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #FFFFFF !important;
}

.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
  background: #27AE60 !important;
}

.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: #27AE60 !important;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #545454 !important;
}

.mat-form-field-infix {
  border-top: none !important;
}

.mat-form-field-appearance-standard .mat-form-field-flex {
  padding-top: 0 !important;
}

.mat-form-field-wrapper {
  padding: 0 !important;
}

.mat-form-field-appearance-standard .mat-form-field-underline {
  display: none !important;
}

.mat-select-panel {
  max-width: 111px !important;
}
