<!--<div class="container">-->
<!--  <div class="filter">-->
<!--    <div class="filter__link" (click)="togglePopup()" #filterLink>-->
<!--      <div class="filter__text">{{linkName}}</div>-->
<!--      <img [src]="icons.select">-->
<!--    </div>-->
<!--    <app-filter-popup *ngIf="toggle" (newItemEvent)="changeName($event)" (click)="togglePopup()"-->
<!--                      #filterPopup></app-filter-popup>-->
<!--    <div class="filter__link">Saved</div>-->
<!--  </div>-->
<!--</div>-->
<div class="container">
  <mat-form-field appearance="standard" >
    <mat-select [(value)]="selected" disableOptionCentering panelClass="myPanelClass">
      <mat-option *ngFor="let link of filterLinks" [value]="link.name">
        {{link.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>


