.content {
  background: #E5E5E5;
  flex: 1 1 auto;
  /*height: 70vh;*/
  /*overflow: auto;*/
  /*-ms-overflow-style: none;  !* Internet Explorer 10+ *!*/
  /*scrollbar-width: none;  !* Firefox *!*/
}
/*.content::-webkit-scrollbar {*/
/*  display: none;  !* Safari and Chrome *!*/
/*}*/
.login__background {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

