<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened">
    <div class="side__links">
      <a class="side__link" [routerLink]="['/account/', user?.uid!]" (click)="opened = !opened">Home</a>
      <a class="side__link" [routerLink]="['/feed']" (click)="opened = !opened">Feed</a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="wrapper">
      <div class="sidenav__show">
        <img [src]="icons.menu" alt="" (click)="opened = !opened">
      </div>
      <app-header></app-header>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
      <app-footer></app-footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<notifier-container></notifier-container>
