.content {
  background: #E5E5E5;
  flex: 1 1 auto;
}

footer {
  background: #000000;
}

.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

.footer__links {
  display: flex;
  width: 50%;
}

.footer__links li {
  list-style-type: none;
  margin: 0 135px 0 0;
  color: #828282;
  cursor: pointer;
  transition: all 0.3s;
}

.footer__links li:hover {
  color: #FFFFFF;
}

.footer__icons {
  display: flex;
  width: 50%;
  justify-content: flex-end;
}

.footer__icons svg {
  width: 30px;
  height: 30px;
  fill: #828282;
  margin-left: 40px;
  transition: all 0.3s;
  cursor: pointer;
}

.footer__icons svg:hover {
  fill: #FFFFFF;
}
