.header__logo {
  display: flex;
  align-items: center;
  margin-right: 120px;
}
.logo__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: #000000;
  color: #FFFFFF;
  border-radius: 5px;
  margin: 10px 18px 10px 0;
  cursor: pointer;
}
.logo__img img {
  width: 27px;
  height: 27px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(55deg) brightness(109%) contrast(105%);
}
.logo__text {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: #FFFFFF;
  cursor: pointer;
}
