.header__logo {
  display: flex;
  align-items: center;
  margin-right: 105px;
  width: 100%;
}
.logo__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background: #000000;
  color: #FFFFFF;
  border-radius: 5px;
  margin: 5px 18px 5px 0;
}
.logo__img img {
  width: 27px;
  height: 27px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(55deg) brightness(109%) contrast(105%);
}
.logo__text {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: #FFFFFF;
}

@media (max-width: 992px) {
  .header__logo {
    margin-left: 50px;
  }
}

@media (max-width: 480px) {
  .header__logo {
    margin-right: 15px;
  }
  .logo__img {
    margin-right: 5px;
  }

}
