<cdk-virtual-scroll-viewport appendOnly itemSize="50" class="terms__viewport">
  <div class="container">
    <div class="terms__wrapper" [class.terms__login]="!user">
      <div class="terms__title">PhotoApp Terms & Conditions of Use</div>
      <div class="terms__general"><p>Date of Last Revision: May 26, 2022</p>
        We strive to create consistent standards for all of our users. This agreement was written in English (US). To
        the
        extent any translated version of this agreement conflicts with the English version, the English version
        controls.
        If
        any portion of this statement is found to be unenforceable, the remaining portion will remain in full force and
        effect.
      </div>
      <div class="terms__points">
        <div class="terms__point">
          <p>Additional Policies</p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, esse, praesentium! Doloremque, eos
          explicabo
          facilis id, ipsum laborum laudantium libero minus neque nesciunt officia porro possimus quasi quisquam quos
          reiciendis repellendus repudiandae soluta, veniam voluptatem? Accusamus amet excepturi obcaecati sapiente, sed
          sint. Eaque earum explicabo magni officia possimus, quas sequi!
        </div>
        <div class="terms__point">
          <p>License</p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. A cupiditate iusto, laborum magni mollitia nemo
          neque
          nostrum nulla odio possimus quas quidem quod, repellat sint voluptatum! Enim facilis possimus quia ratione
          repellendus sint tempore. Aliquam aperiam architecto aspernatur assumenda culpa dolores in modi, molestiae
          mollitia natus nihil, quia reiciendis repudiandae, saepe totam velit veritatis! Aut doloremque laborum
          placeat.
          Excepturi ipsa natus porro quia velit! A ad commodi enim id impedit ipsam ipsum minus quam quas qui quos
          tenetur, totam vero! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad commodi delectus doloremque
          dolores error magni molestias vel, voluptates. Placeat, quam.
        </div>
        <div class="terms__point">
          <p>Marks</p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. A cupiditate iusto, laborum magni mollitia nemo
          neque
          nostrum nulla odio possimus quas quidem quod, repellat sint voluptatum! Enim facilis possimus quia ratione
          repellendus sint tempore. Aliquam aperiam architecto aspernatur assumenda culpa dolores in modi, molestiae
          mollitia natus nihil, quia reiciendis repudiandae, saepe totam velit veritatis! Aut doloremque laborum
          placeat.
        </div>
        <div class="terms__point">
          <p>HyperLinks</p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. A cupiditate iusto, laborum magni mollitia nemo
          neque
          nostrum nulla odio possimus quas quidem quod, repellat sint voluptatum! Enim facilis possimus quia ratione
          repellendus sint tempore. Aliquam aperiam architecto aspernatur assumenda culpa dolores in modi, molestiae
          mollitia natus nihil, quia reiciendis repudiandae, saepe totam velit veritatis! Aut doloremque laborum
          placeat.
          Excepturi ipsa natus porro quia velit! A ad commodi enim id impedit ipsam ipsum minus quam quas qui quos
          tenetur, totam vero! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad commodi delectus doloremque
          dolores error magni molestias vel, voluptates. Placeat, quam. Lorem ipsum dolor sit amet, consectetur
          adipisicing elit. Eaque laudantium modi quo quos! Animi autem eius esse ipsam iure, laudantium maxime
          molestias
          mollitia natus omnis quisquam recusandae totam, unde voluptas!
        </div>
      </div>
    </div>
  </div>
</cdk-virtual-scroll-viewport>
