<div class="extended__post">
  <div class="extended__wrapper">
    <div class="extended__img">
      <img [src]="postImg">
    </div>
    <div class="extended__info" *ngFor="let fireUser of (fireUser | async)">
      <div class="extended__header">
        <div class="extended__user">
          <div class="extended__logo">
            <app-user-logo mat-dialog-close [userLogo]="fireUser.logo"
                           [routerLink]="['/account/', fireUser.userID]"></app-user-logo>
          </div>
          <div class="extended__name">{{fireUser.name}}</div>
          <div class="extended__close" mat-dialog-close>
            <img [src]="icons.close">
          </div>
        </div>
        <div class="extended__description">{{postDesc}}</div>
        <div class="extended__date">{{postDate | date: 'd.M.yy, H:mm'}}</div>
        <div class="extended__icons">
          <app-post-icons [postID]="this.postID" [size]="'big'"></app-post-icons>
        </div>
      </div>
      <div class="extended__comments">
        <cdk-virtual-scroll-viewport appendOnly itemSize="50" class="scroll__viewport">
          <div class="extended__comment" *ngFor="let comment of (fireComments | async)">
            <div class="comment__logo">
              <app-user-logo mat-dialog-close [userLogo]="comment.createdBy === this.currentID ? this.commentLogo :  fireUser.logo" [routerLink]="['/account/', comment.createdBy]"></app-user-logo>
            </div>
            <div class="comment__text">{{comment.text}}</div>
            <div class="comment__info">
              <div class="comment__date extended__date">{{comment.date | date: 'd.M.yy, H:mm'}}</div>
              <div class="comment__edit"
                   *ngIf="comment.createdBy === this.currentID || fireUser.userID === this.currentID">
                <button mat-icon-button [matMenuTriggerFor]="beforeMenu" aria-label="Example icon-button with a menu">
                  <mat-icon class="black">more_vert</mat-icon>
                </button>
                <mat-menu #beforeMenu="matMenu" xPosition="before">
                  <button mat-menu-item (click)="deleteComment(comment.date)">Delete</button>
                </mat-menu>
              </div>
            </div>
          </div>
        </cdk-virtual-scroll-viewport>
      </div>
      <form class="extended__form" [formGroup]="commentsForm">
        <div class="extended__input">
          <input id="title" type="text" class="choose__input" placeholder="Add comment..."
                 [formControlName]="formControls.comment">
          <div class="modal_err" *ngIf="isControlValid(formControls.comment)">Max length is 200 symbols</div>
        </div>
        <div class="extended__btn">
          <app-button [label]="'Send'"
                      [bgColor]="'green'"
                      [cond]="commentsForm.invalid"
                      (click)="submitFrom()"
                      class="form__btn">
          </app-button>
        </div>
      </form>
    </div>
  </div>
</div>
