.extended__wrapper {
  display: flex;
}

.extended__img {
  flex: 1 1 70%;
  display: flex;
  max-height: 500px;
  max-width: 700px;
}

.extended__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.extended__info {
  flex: 1 1 30%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
  min-height: 100%;
}

.extended__header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.extended__user {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.extended__logo {
  flex: 0 0 20%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  outline: none;
}

.extended__name {
  flex: 0 0 70%;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #4F4F4F;
  text-align: center;
}

.extended__close {
  display: flex;
  width: 100%;
  justify-content: right;
}

.extended__close img {
  width: 15px;
  height: 15px;
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(57%) sepia(6%) saturate(13%) hue-rotate(336deg) brightness(89%) contrast(89%);
}

.extended__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #4F4F4F;
  text-align: center;
}

.extended__description:before,
.extended__description:after {
  content: '';
  display: block;
  min-width: 50px;
  width: 50%;
  height: 1px;
  background: #4F4F4F;
  text-align: center;
  margin: 5px auto;
}

.extended__date {
  font-size: 10px;
  line-height: 14px;
  color: #828282;
}

.extended__icons {
  margin-top: 10px;
}
.extended__comments {
  min-height: 250px;
  width: 100%;
  flex: 1 1 auto;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}
.scroll__viewport {
  background: #FFFFFF;
  overflow-x: hidden;
}
.extended__comment {
  width: 100%;
  display: flex;
  margin: 10px 0;
  align-items: center;
  justify-content: space-between;
}
.extended__form {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 10px;
}
.extended__input {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal_err {
  font-size: 12px;
}
.extended__btn {
  margin-left: 10px;
}
.comment__logo {
  margin-right: 10px;
  cursor: pointer;
}
.comment__text {
  max-width: 165px;
  overflow: hidden;
  margin-right: 10px;
  flex: 0 0 80%;
  font-weight: 500;
  font-size: 14px;
  color: #4F4F4F;
}
.comment__info {
  display: flex;
  align-items: center;
}


@media (max-width: 992px) {
  .extended__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .extended__comments {
    min-height: 150px;
  }
}
@media (max-width: 768px) {
  .extended__img {
    max-width: 500px;
  }
}
@media (max-width: 480px) {
  .extended__user {
    margin: 5px 0;
  }

  .extended__description {
    font-size: 12px;
  }
  .extended__comments {
    min-height: 70px;
  }
}
