<div mat-dialog-content>
  <div class="modal__content">
    <div class="modal__title">
      <div class="modal__text">Likes</div>
      <img [src]="icons.close" alt="" mat-dialog-close>
    </div>
    <div class="followers__list" *ngIf="(usersLikes | async)?.length! > 0; else nobody">
      <div class="follower" *ngFor="let user of (usersLikes | async)">
        <div class="follower__logo">
          <app-user-logo [userLogo]="user.logo"
                         [routerLink]="[routes.account, user.userID]"
                         mat-dialog-close (click)="closeDialogs()"></app-user-logo>
        </div>
        <div class="follower__name">{{user.name}}</div>
      </div>
    </div>
    <ng-template #nobody>
      <div class="follower__name nobody">There’s no one here yet!</div>
    </ng-template>
  </div>
</div>
