<div class="content__data">
  <div class="container">
    <div class="content__wrapper">
      <ng-container *ngFor="let post of (firePosts | async); trackBy: trackSavedPosts">
        <app-post class="content__column"
                  [postImg]="post.photo"
                  [postDesc]="post.description"
                  [postID]="post.id"
                  [postTitle]="post.title"
                  [postDate]="post.sortID"
                  [userID]="this.routedID"
                  [creator]="post.createdBy"></app-post>
      </ng-container>
    </div>
  </div>
</div>


