.search__bar {
  position: relative;

}
.search__input {
  border: none;
  background: #efefef;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  font-family: 'Montserrat', sans-serif;
  padding-left: 15px;
}

.search__input.small {
  width: 170px;
}

.search__input:focus {
  outline: none;
}

.search__input::placeholder {
  color: #4F4F4F;
}
.search__results {
  overflow: auto;
  max-height: 153px;
  width: 100%;
  position: absolute;
  top: 32px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 39px 24px -1px rgba(34, 60, 80, 0.3);
  z-index: 100;
}
.search__results::-webkit-scrollbar {
  display: none;
}
.search__result {
  width: 100%;
  border-top: 1px solid #4F4F4F;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #efefef;
  transition: background-color .3s linear;
}
.search__result:hover {
  background: #d2d2d2;
}
.result__logo {
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.result__name {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #4F4F4F;
  cursor: pointer;
}

