<div class="search__bar" #searchElement>
  <input type="text" class="search__input {{size}}" #searchInput placeholder="Find people..." name="search"
         (keyup)="showResult($event)" autocomplete="off" (keydown.space)="$event.preventDefault()">
  <div class="search__results" *ngIf="isResults">
    <ng-container *ngFor="let user of (fireUsers | async)">
      <div class="search__result" [routerLink]="['/account/', user.userID]"
           (click)="isResults = false; searchInput.value = ''">
        <div class="result__logo">
          <app-user-logo [userLogo]="user.logo"></app-user-logo>
        </div>
        <div class="result__name">{{user.name}}</div>
      </div>
    </ng-container>
  </div>
</div>

