<div class="search__bar" #searchElement>
  <form [formGroup]="searchForm">
    <input type="text" class="search__input {{size}}" placeholder="Find people..." name="search"
           (keyup)="showResult()" autocomplete="off" [formControlName]="formControls.search">
  </form>
  <div class="search__results" *ngIf="isResults">
    <ng-container *ngFor="let foundedUser of (foundedUsers | async)">
      <div class="search__result" [routerLink]="[routes.account, foundedUser.userID]"
           (click)="clearInput()">
        <div class="result__logo">
          <app-user-logo [userLogo]="foundedUser.logo"></app-user-logo>
        </div>
        <div class="result__name">{{foundedUser.name}}</div>
      </div>
    </ng-container>
  </div>
</div>

