<cdk-virtual-scroll-viewport appendOnly itemSize="50" class="privacy__viewport">
  <div class="container">
    <div class="privacy__wrapper">
      <div class="privacy__title">PhotoApp Privacy Policy</div>
      <div class="privacy__point">
        <div class="privacy__subtitle">Object and Scene Type Recognition Technology</div>
        <div class="privacy__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto autem
          commodi consectetur consequuntur culpa dignissimos distinctio, dolore et ex excepturi fuga impedit incidunt
          labore laboriosam maxime minus, nemo officiis possimus quaerat qui quos ratione repellendus reprehenderit
          soluta
          ullam velit. Eius enim et illo iusto natus nihil repellat sit! Accusantium?
        </div>
      </div>
      <div class="privacy__point">
        <div class="privacy__subtitle">Information Collected by Cookies and Other Tracking Technologies</div>
        <div class="privacy__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto autem
          commodi consectetur consequuntur culpa dignissimos distinctio, dolore et ex excepturi fuga impedit incidunt
          labore laboriosam maxime minus, nemo officiis possimus quaerat qui quos ratione repellendus reprehenderit
          soluta
          ullam velit. Eius enim et illo iusto natus nihil repellat sit! Accusantium?
        </div>
      </div>
      <div class="privacy__point">
        <div class="privacy__subtitle">Information We Collect From Other Sources</div>
        <div class="privacy__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto autem
          commodi consectetur consequuntur quaerat qui quos ratione repellendus reprehenderit soluta
          ullam velit. Eius enim et illo iusto natus nihil repellat sit! Accusantium? Lorem ipsum dolor sit amet,
          consectetur adipisicing elit.
        </div>
      </div>
      <div class="privacy__point">
        <div class="privacy__subtitle">Use of Information</div>
        <div class="privacy__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab cum cumque dolorem
          facere
          illo in, laudantium modi officiis provident totam? Alias, amet asperiores eius est eum fuga fugit, incidunt
          ipsam iste itaque libero magnam nam nisi non repellat veritatis?
        </div>
      </div>
    </div>
  </div>
</cdk-virtual-scroll-viewport>
