.hover__block {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  background: #333333;
  opacity: 0.8;
  align-items: center;
}

.hover__title {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  width: 50%;
  padding: 4px 0;
  margin-left: 8px;
}

.hover__icons {
  display: flex;
  align-items: center;
}

.hover__icon {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.hover__img {
  margin-right: 5px;
}

.hover__img {
  width: 17px;
  height: 17px;
  cursor: pointer;
}

.hover__img img {
  width: 100%;
  height: 100%;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(2%) hue-rotate(6deg) brightness(110%) contrast(101%);
}

.hover__img.red img {
  filter: brightness(0) saturate(100%) invert(48%) sepia(33%) saturate(1102%) hue-rotate(313deg) brightness(93%) contrast(98%);
}

.hover__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
}
