<div class="hover__block" >
  <div class="hover__title">{{postTitle}} by Walter C.</div>
  <div class="hover__icons">
    <div class="hover__icon">
      <div class="hover__img" (click)="clickEvent()" [ngClass]="addColor ? 'red' : 'white'">
        <img [src]="icons.like" alt="">
      </div>
      <div class="hover__text">{{postLikes}}</div>
    </div>
    <div class="hover__icon">
      <div class="hover__img">
        <img [src]="icons.comment" alt="">
      </div>
      <div class="hover__text">{{postComments}}</div>
    </div>
    <div class="hover__icon">
      <div class="hover__img">
        <img [src]="icons.bookmark" alt="">
      </div>
    </div>
  </div>
</div>
