<div class="account" *ngFor="let fireUser of (fireUsers | async)"
     [ngStyle]="{'background-image': 'url(' + fireUser.background + ')'}">
  <div class="container">
    <div class="account__wrapper">
      <app-user-logo [size]="'big'">
      </app-user-logo>
      <app-account-info [username]="fireUser.name"
                        [followers]="fireUser.followers.length"
                        [following]="fireUser.following.length"
                        [description]="fireUser.status"
                        [firestoreID]="fireUser.id">
      </app-account-info>
    </div>
    <app-button class="account__btn"
                [label]="'Add photo'"
                [bgColor]="'green'"
                (click)="openDialog()">
    </app-button>
  </div>
</div>
<!--[avatar]="this.user?.photoURL!"-->
<!--[username]='this.user?.displayName!.slice(0,1)'-->
