.account {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding: 25px 0;
}

.account__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.account__btn {
  margin-left: 120px;
}
.block {
  margin-left: 30px;
}

@media (max-width: 992px) {
  .account {
    padding: 15px 0;
  }
}
@media (max-width: 480px) {
  .account {
    padding: 10px 0;
  }
  .account__wrapper {
    margin-bottom: 10px;
  }
}
