<div class="account" *ngIf="background"
     [ngStyle]="{'background-image': 'url(' + background + ')'}">
  <div class="container">
    <div class="account__wrapper">
      <app-user-logo [size]="'big'" [userLogo]="userLogo">
      </app-user-logo>
      <app-account-info
        [firestoreID]="firestoreID"
        [userIdFromParams]="userIdFromParams"
        [status]="status"
        [nickname]="nickname"
        [followers]="followers"
        [following]="following">
      </app-account-info>
    </div>
    <app-button *ngIf="userIdFromAuth === userIdFromParams"
                class="account__btn"
                [label]="'Add photo'"
                [bgColor]="'green'"
                (click)="openAddPostDialog()">
    </app-button>
    <app-button *ngIf="userIdFromAuth !== userIdFromParams"
                class="account__btn"
                [label]="isFollow ? 'Unfollow' : 'Follow'"
                [bgColor]="'green'"
                (click)="updateFollowers(firestoreID); updateFollowing(authID)">
    </app-button>
    <app-button *ngIf="userIdFromAuth !== userIdFromParams"
                class="account__btn block"
                [label]="isBlocked ? 'Unblock' : 'Block'"
                [bgColor]="'red'"
                (click)="updateBlocked(authID)">
    </app-button>
  </div>
</div>
