<div class="account"
     [ngStyle]="{'background-image': 'url(' + this.background + ')'}">
  <div class="container">
    <div class="account__wrapper">
      <app-user-logo [size]="'big'" [userLogo]="this.userLogo">
      </app-user-logo>
      <app-account-info
        [firestoreID]="this.firestoreID"
        [userID]="this.userID"
        [status]="this.status"
        [nickname]="nickname">
      </app-account-info>
    </div>
    <app-button *ngIf="this.user?.uid! === this.userID"
                class="account__btn"
                [label]="'Add photo'"
                [bgColor]="'green'"
                (click)="openAddPostDialog()">
    </app-button>
    <app-button *ngIf="this.user?.uid! !== this.userID"
                class="account__btn"
                [label]="isFollow ? 'Unfollow' : 'Follow'"
                [bgColor]="'green'"
                (click)="updateFollowers(this.firestoreID); updateFollowing(this.authID)">
    </app-button>
    <app-button *ngIf="this.user?.uid! !== this.userID"
                class="account__btn block"
                [label]="isBlocked ? 'Unblock' : 'Block'"
                [bgColor]="'red'"
                (click)="updateBlocked(this.authID)">
    </app-button>
  </div>
</div>
