.header__nav {
  display: flex;
  margin-right: 250px;
}
.nav__link {
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
  color: #FFFFFF;
  padding-top: 6px;
  margin-right: 45px;
}
.nav__link:after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  margin-top: 4px;
  background: transparent;
  transition: all 0.3s;
}
.nav__link:hover:after {
  width: 100%;
  background: #8FFF00;
}

@media (max-width: 1200px) {
  .header__nav {
    margin-right: 125px;
  }
}
@media (max-width: 992px) {
  .header__nav {
    display: none;
    margin-right: 70px;
  }
}

@media (max-width: 768px) {
  .header__nav {
    margin-right: 50px;
  }
}
